*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

#message {
    font-family: monospace;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 8px;
    transition: .4s;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.paper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.box {
    background-color: #fff;
    height: 100px;
    width: 100px;
    margin: 4px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    padding: 20%;
    font-family: monospace;
}

.box:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: all .3s;
}

#reset {
    margin-top: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #6916b8;
    color: #fff;
    padding: 12px 16px;
}

#reset:hover {
    background-color: #470a80;
    transition: .4s;
}